.card {
    position: relative;
    width: 250px;
    margin: 20px 0;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.front,
.back {
    backface-visibility: hidden;
}

.back {
    height: 355px;
    position: absolute;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg)
}

.modal.and.carousel {
    position: fixed;
}

.logo {
    width: 200px;
}

footer {
    height: 100px;
}

.footer {
    height: 200px;
}
